<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bsstandard.piece">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <!-- android:name="com.bsstandard.piece.di.App" -->
    <application
        android:name="com.bsstandard.piece.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransparentStatusBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.bsstandard.piece.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.common.NetworkActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.common.LoginChkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.join.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webview.ConsentDetailWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.passcode.PassCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.join.JoinSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.portfolioDetail.PortfolioDetailActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".view.purchase.PurchaseActivity"
            android:screenOrientation="portrait"/>

        <!-- exported : true - 다른 앱에서 Activity 를 시작할수 있으면 true / 그게 아니면 false -->
        <activity
            android:name=".view.webview.MagazineDetailWebView"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.bookmark.BookMarkActivity"
            android:screenOrientation="portrait" />

        <!-- 내지갑 -->
        <!-- 나의 예치금 잔액 상세 -->
        <activity
            android:name=".view.deposit.MyDepositActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.myInfo.MyInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.notice.NoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.webview.NoticeDetailWebView"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.event.EventActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.webview.EventDetailWebView"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter
                android:icon="@drawable/app_icon"
                android:label="테스트">

                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />

            </intent-filter>
        </activity>

        <activity
            android:name=".view.coupon.CouponActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.certification.CertificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.deleteMember.DeleteMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.deleteMember.DeleteMemberDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.deleteMember.DeleteMemberSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.notisetting.NotificationSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.consent.MoreConsentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.question.QuestionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.withdrawal.WithdrawalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.withdrawal.WithdrawalNextActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.withdrawal.WithdrawSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.withdrawal.WithdrawFailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bank.BankSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bank.BankRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.bank.BankRegisterSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.deposit.DepositChargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.virtual.VirtualActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.virtual.VirtualSuccessActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".view.purchaseDetail.PurchaseDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.deed.DeedActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.alarm.AlarmActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.purchase.PurchaseLoadingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.purchase.PurchaseResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.authentication.AuthenticationActivity"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".firebase.MyFirebaseMessagingService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />

    </application>

</manifest>